annotators/aggregate/*
annotators/naive/*
annotators/ncbo/*
annotators/noble/*
!annotators/aggregate/.keep
!annotators/naive/merge_files.sh
!annotators/ncbo/ncbo_annot.py
!annotators/noble/parse_nc_output.sh
!annotators/noble/nc_parse.py

data/*
gensim/*
lib/*
logs/*
nbproject/*
networks/*
ontologies/*
output/*
pubmed/*
!pubmed/scripts
randomforest/
supplemental/
target/

tm.db
term-mapping.jar
licenseheader.txt
nb-configuration.xml
nbactions.xml
pom.xml
*.history
*.Rhistory
*.pyc

!*/.keep
