annotators/aggregate/*
annotators/naive/*
!annotators/naive/merge_files.sh
annotators/ncbo/*
!annotators/ncbo/ncbo_annot.py
annotators/noble/*
!annotators/noble/parse_nc_output.sh
!annotators/noble/nc_parse.py

data/*
gensim/*
lib/*
logs/*
nbproject/*
networks/
ontologies/
output/
pubmed/
randomforest/
supplemental/
target/

tm.db
term-mapping.jar
licenseheader.txt
nb-configuration.xml
nbactions.xml
pom.xml
*.history
*.Rhistory
*.pyc

!*/.keep
