db/
dmom/
lib/
logs/
nbproject/
notes/
paper/
shell/
slurm/
target/
path/annotators/
path/data/
path/gensim/
path/logs/
path/networks/
path/output/
path/vocabulary/
path/term-mapping.jar
path/tm.db
path/populate_table.out
path/pubmed/combined_abstracts.txt
path/pubmed/split_sentences.txt
r/deprecated/
*.history
*.Rhistory
*.pyc
